/* Carousel */
.bootstrap-iso{
    clear: both;
    height: 360px;
    background-color: #E75032;
    padding-left: 100px;
}

#myCarousel{
    width: 1100px;
    margin: 0 auto;
    position: relative;

}

.carousel-inner{
    height: 360px;
    position: relative;
}

.carousel_control_dots{
    padding-top: 15px;
}

.item{
    display: flex;
    position: relative;
    margin-top: 40px;
}

.carousel_content{
    display: flex;
    position: inherit;
    margin-left: 150px;
}


.carousel_image{
    position: relative;
}

.carousel-inner img{
    width: 280px;
    height: 280px;
}

.carousel_text{
    width: 550px;
    position: relative;
    padding-left: 100px;
}

.carousel_text h1{
    color: white;
    font-weight: bold;
    font-size: 45px;
}

.carousel_text p{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

