/* Carousel */
.bootstrap-iso{
    clear: both;
    height: 360px;
    background-color: orangered;
}

#myCarousel{
    margin-left: 0px;
}

.carousel-inner{
    height: 360px;
}

.carousel_control_dots{
    padding-top: 15px;
}

.carousel_content{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 400px;
}

.carousel_button{
    float: right;
}
.carousel-inner img{
    width: 280px;
    height: 280px;
}

.carousel_text{
    width: 450px;
    margin-right: 300px;
}


.carousel_text h1{
    color: white;
    font-weight: bold;
    font-size: 45px;
}


.carousel_text p{
    color: white;
    font-size: 20px;
    font-weight: bold;
}


