/* Header section */
header{
    height: 55px;
    padding: 15px 0;
    border-bottom: 1px solid #aaa;
    box-shadow: 3px 3px #eee;
    position: relative;
    padding-left: 90px;
}

.header_content{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    padding-left: 50px;
    justify-content: space-between;
    position: relative;
}

.header_logo{
    padding-left: 65px;
}

.header_logo img{
    height: 55px;
}

.header_title{
    margin-right:80px;
    padding-left: 60px;
}

.header_title h1{
    font-size: bold;
    line-height: 50px;
}

.header_link{
    display: flex;
    padding-right: 30px;
}


.header_link_text p{
    margin-right:10px;
    line-height: 50px;
    color: red;
    font-size: 17px;
    font-style: bold;
}


.header_link_cart img{
    margin-right: 65px;
    padding-top: 9px;
    height: 28px;
    color: red;
}