/* Menu bar section */
nav{
    padding: 20px 0;
    padding-left: 65px;
    position: relative;
    padding-left: 150px;
}

nav ul{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.menu_head{
    position:relative;
    width: 200px;
}

.menu_head a{
    display: block;
    background-image: url(../asset/menu-elements/plus-sign.png);
    background-repeat: no-repeat;
    background-position: 70% 50%;
    background-size: 20px;
    padding: 10px 25px 10px 10px;
    font-size: 19px;
    font-weight: bold;
}

.menu_head:hover ul{
    display: block;
}

.menu_head a:hover{
    color: red;
    background-image: url(../asset/menu-elements/red-plus.png);
    box-shadow: 1px 1px 1px #ccc;
}

.menu_head ul{
    display: none;
    position: absolute;
    z-index: 999;
    width: 100%;
}

.menu_head ul a{
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-size: 13px;
}

.menu_head:hover ul li a{
    background-image: none;
    box-shadow: 1px 1px 1px #ccc;
}

.menu_head:hover ul li:nth-child(2n) a{
    background-color: #efefef;
}

.menu_head:hover ul li:nth-child(2n+1) a{
    background-color: white;
}
